################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Byte-compiled / optimized / DLL files


__pycache__/
.vs/

*.py[cod]
*.response

*$py.class

input.txt

/submission-1st
/submission-1st.tar.gz
